@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

@import '_variables';
@import '_mixins';

*{
    margin: 0;
    padding: 0;}
.container{
    width: 1200px;
    margin: 0 auto;
    
}.row{margin:0 }
#intro{z-index: 1;
    background: transparent linear-gradient(243deg, #FBFBFB 0%, #FCFCFC 21%, #FCFCFC 33%, #F6F7F9 45%, #F6F6F6 56%, #F6F7F8 70%, #F6F6F7 100%) 0% 0% no-repeat padding-box;}
    header{@include flex-box();
        padding: 45px 15px;
        .donate{
            button{
                @extend %button-secondary;
            font-weight: 600px;@include flex-box();
            &:hover{background-color: $oragne-color;
            color:$white-color;
        svg{path{fill: $white-color;}}}
        }
                svg
                {width:15px;
                margin-right:5px;
                path
                {fill: $oragne-color
                }
                }}
     .logo{@include font-bold(36px)}
     nav{ul{li{display: inline-block;
         @include font-semi-bold(15px);
          margin: 0 17px;
          a{text-decoration: none;
             color: $black-color;
             padding: 10 0;
             display: inline-block;
      &.active{color: $oragne-color;
      border-bottom: 1px solid $oragne-color;}
      &:hover{color: $oragne-color;
      border-bottom: 1px solid $oragne-color;}}

    }
}
   }
}
.intro-heading{ @include flex-box(center,start);
padding:0 15px;

.content{margin-top: 140px;
    width: 741px;
   
span{color: $oragne-color;
position: relative;
display: inline-block;
padding-left:30px ;
margin-bottom: 28px;
&:before{
    content: "";
    width: 25px;
    height: 1px;
    top: 38%;
    position: absolute;
    background: $oragne-color;
    left: 0;}}
}h1{
    @include font-semi-bold(52px);
    margin-bottom: 25px;
    color: $black-color;}
p{
    @include font-regular();
    color:$black-color
}}
.container2{
    position: relative;
   z-index: 5;
  width: 1170px;
  margin: 0 auto;
  margin-top: -80px;
  
  background:  #FFFFFF 0% 0% no-repeat padding-box;;
  .row{box-shadow: 0px 20px 60px #3e3e3e36;
    
}
.header2{@include flex-box();
padding: 90px 60px 0px 60px;
h2{@include font-bold(32px)}
button{@extend %button-primary;}
}.containers{padding-left:60px ;
    width: 739px;
    display: flex;
    margin-top:40px ;
    img{
    height: 189px;
width :229px;

}.mini-container{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}p{@include font-semi-bold(24px);
display:inline-block;
margin-bottom: 20px;
}
}span{@include font-regular(15px);
color:#777777 ;

}
}.row:last-child{padding-bottom: 50px;}
.container3{text-align:center;
margin-top:70px ;
h2{@include font-semi-bold(32px);
    margin-bottom:40px;}}        
.row1{
    height :300px;
    width:353px;
    background:  #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 60px #3e3e3e36;
    .minicontainer-text1{padding-top: 30px;
        padding-left:29px;
        padding-right: 37px;
        span{@include font-regular(15px);
            color:#777777;
        
        }h2{margin-top: 18px;
        @include font-semi-bold(24px)}
        p{margin-top: 10px; 
            @include font-regular(15px) ;
            color:#777777;
        }button{margin-top: 60px;
        @extend %button-secondary;
        &:hover{@extend %button-primary;}}}
}.mini-containers1{width: 1170;
    @include flex-box;
    margin: 0 auto;}
    .row1{display: inline-block;}
.container5{text-align: center;
    margin-top: 40px;
    span{display: block;
    @include font-regular(15px);
color: #777777;
margin-top: 20px;}
h2{@include font-semi-bold(32px);
    text-decoration:underline;
    
}input{height:60;
    width: 418px;
background-color: #F5F5F5;
margin-top: 20px;
margin-left: -30;
border:1px solid #6d6a6a;
border-radius: 5px;
text-align:center;
}button{@extend %button-primary;
height :60px;
margin-left: -4px;
margin-bottom: 80px;
}}.greycolor{width: 100%;
height:400px;
background-color:#F5F5F5;
.big-container{padding-top: 60px;
    display: flex;
    margin-bottom: 80px;
}
.cont1{padding:0px 0 0 200px ;
    width: 326px;
    display: inline-block;
    
    span{display: inline-block;
@include font-bold(36px)}
img{display: inline-block;
    height: 36px;}
p{@include font-regular(14px);
margin-top:30px;
color: #999999;}
}.cont2{ display: inline-block;
    margin-left: 50px;
   .cont2-text{
span{@include font-regular(14px);
color: #999999;
display: block;
margin-top: 25px;
&:hover{text-decoration: underline;
cursor:pointer}
}
p{
    
@include font-semi-bold(16px);
color:#222222;
&:hover{text-decoration: underline;
    cursor:pointer}
}}}
}.cont3{ display: inline-block;
    margin-left: 180px;
   .cont3-text{
span{@include font-regular(14px);
color: #999999;
display: block;
margin-top: 25px;
&:hover{text-decoration: underline;
cursor:pointer}
}
p{
    
@include font-semi-bold(16px);
color:#222222;
&:hover{text-decoration: underline;
    cursor:pointer}
}}}
.cont4{margin-left: 150px;
p{@include font-semi-bold(16px);
    color:#222222;
    &:hover{text-decoration: underline;
        cursor:pointer}}
        button{@extend %button-secondary;
            padding: 18px 23px;
        border-radius:50% ;
    margin-top: 20px;
margin-right: 20px;
&:hover{background-color: $oragne-color;svg{path{fill: $white-color;}}
}}

    }
    .cont5{display: block;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #99999949;
    width: 900px;
    span{@include font-regular(14px);
        color: #999999;
    }.mini-cont5{padding-top: 38px;}
}
.modal1{
     display: none;
    position: fixed; 
    z-index: 999; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
 
  .modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20 40px;
    border: 1px solid #888;
    width: 60%;
    height: 300px;
    border-radius: 8px;
    
    h2{@include font-semi-bold(32px);
    padding:20px 0 0 20px}
    p{@include font-regular(15px);
    padding-left:20px;
    margin-top: 20px;
}button{@extend %button-primary;
margin-top: 55px;
}
  }.closebuttoncont{text-align: right;}
